version: '3.8'

services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "RobEurope"
      LDAP_DOMAIN: "robeurope.samuelponce.es"
      LDAP_ADMIN_PASSWORD: "adminpassword"
      LDAP_CONFIG_PASSWORD: "configpassword"
      LDAP_TLS: "false"  # For simplicity, disable TLS
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - robeurope_network

  bind9:
    image: sameersbn/bind:9.16.1-20200524
    container_name: bind9
    environment:
      WEBMIN_ENABLED: "false"
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "10000:10000"  # Webmin if enabled
    volumes:
      - bind_data:/data
      - ./bind/named.conf:/data/named.conf
      - ./bind/db.robeurope.samuelponce.es:/data/db.robeurope.samuelponce.es
    networks:
      - robeurope_network

volumes:
  ldap_data:
  ldap_config:
  bind_data:

networks:
  robeurope_network:
    driver: bridge