version: '3.8'

services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "RobEurope"
      LDAP_DOMAIN: "robeurope.samuelponce.es"
      LDAP_ADMIN_PASSWORD: "adminpassword"
      LDAP_CONFIG_PASSWORD: "configpassword"
      LDAP_TLS: "false"  # For simplicity, disable TLS
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - robeurope_network

  redis:
    image: redis:alpine
    container_name: robeurope-redis
    ports:
      - "6379:6379"
    networks:
      - robeurope_network

volumes:
  ldap_data:
  ldap_config:

networks:
  robeurope_network:
    driver: bridge